extends layout

block content
  h1= title
  for course in courses
    .course
      h3= course.name
      p= course.desc
      if (!everyauth.loggedIn || course.students.indexOf(user._id) < 0)
        form(action='/join-course', method='POST')
          input(type="text", name="courseId", value=course._id, style="display: none;")
          input(type='submit', value="Join Course!")
