extends layout

block content
  h1 Create Course
  form(action='/create-course', method='POST')
    label(for='title') Course Title
    input(type='text', name='title')

    label(for='desc') Description
    textarea(name='desc', rows=4, cols=50)

    label(for='status') Status
    select(name="status")
      option(value="Enrolled") Enrolled
      option(value="Taken") Taken

    label.checkbox Public?
      input(type="checkbox", name="privacy", value="true", checked).checkbox

    input(type='submit', value="Submit").btn