extends layout

block content
  h1 Create Course
  form(action='/create-course', method='POST')
    label(for='title') Course Title
    input(type='text', name='title')

    label(for='desc') Description
    textarea(name='desc', rows=4, cols=50)

    select(name="status")
      option(value="Taking") Taking
      option(value="Helping") Helping
      option(value="Done") Done

    label(for='privacy') Public?
    input(type="checkbox", name="privacy", value="true", checked)

    input(type='submit', value="Submit")