extends layout

block content
  h1 Send Broadcast
  form(action='/send-broadcast', method='POST')
    label Message
    textarea(name='msg', rows=4, cols=50)
    input(type="hidden", name="id", value=course._id)
    label
    input(type='submit', value="Submit").btn