extends layout

block content
  h1 Welcome #{user.name}
  for post in posts
    .post
      h4 
        a(href='/course/'+post.course._id) #{post.course.name}
      p= post.message
      h6= post.from.name