extends layout

block content
  h1 Welcome #{everyauth.facebook.user.name}
  a(href='/create-course') Create a Course!
  a(href='/my-courses') View current courses!
  a(href='/courses') Browse Courses!
  a(href='/profile') View profile
  for post in posts
    .post
      h4= post.course.name
      p= post.message
      h6= post.from.name