body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.error {
	position: fixed;
	left:50%;
	top:10px;
	color: #FF0000;
	border: solid black 1px;
}