body {
     margin: 0;
     background: url('/images/creampaper.png');
 }

.post {
  padding-left: 10px;
  border-top: 1px solid #ddd;
}

.course {
  cursor: pointer;
  padding-left: 10px;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #fff;
  background-color: #eee;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.course:hover {
  background-color: #ddd;
}

.profile-small {
  padding: 2px;
}

.profile-left {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
}

textarea.modal-textarea {
  width: 100%;
  -webkit-box-sizing: border-box; /* <=iOS4, <= Android  2.3 */
  -moz-box-sizing: border-box; /* FF1+ */
  box-sizing: border-box; /* Chrome, IE8, Opera, Safari 5.1*/
}

.content {
  background-color: #fff;
  padding: 20px;
  -moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.6);
  -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.6);
  box-shadow: 2px 2px 5px rgba(0,0,0,0.6);
}

.gravatar {
	padding-right: 8px;
}